<h1>Please fill out form</h1>

<form action="/contacts/created" method="post">
  <div class = "form-group">
    <label for="name">Name:</label>
    <input class = "form-control"  id="name" name="name" type="text" required="true" tite="Please fill in the form">
  </div>
  <div class = "form-group">
    <label for="email">Email:</label>
    <input class = "form-control"  id="email" name="email" type="text" required="true" tite="Please fill in the form">
  </div>
  <div class = "form-group">
    <label for="number">Phone Number:</label>
    <input class = "form-control"  id="number" name="number" type="text" required="true" tite="Please fill in the form">
  </div>
  <button type="submit"  class="btn btn-default center-block" >Submit</button>
</form>
